.bitcount-prop-single-<uniquifier> {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar{
  background: linear-gradient(to bottom, #2bff58, #FFFFFF);
  padding: 5px;
  text-align: center;
  font-family: "Bitcount Prop Single";
  font-size: 24px;  
  font-weight: 900;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produto {
  margin: 20px;
  width: 110px;
  text-align: center;
}

.produto img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
}

.produto h2 {
  font-size: 14px;
  margin-top: 10px;
}

.produto p {
  font-size: 14px;
  color: #666;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.botao-detalhes {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  margin-right: 3px;
  padding: 8px 13px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.botao-whatsapp {
  background-color: #25D366;
  color: #fff;
  border: none;
  padding: 8px 13px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.botao-detalhes:hover, .botao-whatsapp:hover {
  opacity: 0.8;
}
.botao-whatsapp img{
    width: 20px;
    height: 20px;
}
footer {
  background: linear-gradient(to top, #2bff58, #FFFFFF);
  padding: 10px;
  text-align: center;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 18px;
}

footer a {
  color: #aaa;
  text-decoration: none;
}

.rodape a:hover {
  color: #ccc;
}
